.nav-top{
    background-color: rgb(47, 47,114);
}
.nav-link{
    color: white;
}
footer{
    background-color: rgb(47, 47, 114) !important;
    color: white !important;
    text-align: center !important;
}
.car-img{
    max-height: 55em !important;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.37);
}
.divisão{
    background-color: rgb(47, 47, 114) !important;
    text-align: center !important;
    color: white !important;
    padding: 2em !important;
    
}
.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;
}
.card{
    padding: 1% !important;
    margin: 0% 1% 1% !important;
}
.card p{
    text-align: justify;
}
.sec-contato{
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.sec-contato button{
    background-color: orange;
}
.mapa{
    margin: 5% !important;
}
.links{
    text-align: center !important;
    padding: 1em !important;
    color: rgb(0, 0, 0);
}
